* {
  margin: 0;
}
body {
  width: 100%;
}
header {
  width: 100%;
  top: 0;
  /* background: rgba(225, 225, 225, 0.2); */
  position: fixed;
  background-color: rgba(243, 237, 237, 0.719);
  z-index: 1;
}

.header-container {
width: 80%;
position: relative;
height: 70px;
margin: 0 auto;
}
.tw-logo {
  float: left;
  width: 160px;
  height: 40px;
  padding: 0;
  margin: 15px 0;
  text-align: center;
}
.logo {
  height: 40px;
  line-height: 40px;
  display: block;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: rgb(92, 141, 179);
  text-decoration: none;
  text-align: center;
}
#search-box {
  float: left;
  margin: 17px 0 17px 100px;
  background: rgba(225, 225, 225, 0.3);
  color: white;
  width: 50%;
  text-align: left;
  height: 36px;
  padding: 10px;
  outline: none;
  border: none;
  border-bottom-style: none;
  border-radius: 5px;
  box-shadow: 0 1px 0 rgb(175, 175, 175) ;
  -webkit-appearance: none;
}
main {
  margin: 80px auto 0 auto;
  width: 90%;
}
main > div{
  width: 99%;
  margin: 50px auto;
}
main > div > p {
  font-size: larger;
  color: green;
  margin: 20px 0;
}
footer{
  width: 80%;
  margin: 5px auto;
  margin-bottom: 0;
  color: #999;
  border-top: 1px dashed #ddd;
  padding: 6px 0;
  font-size: 13px;
}
footer .fright {
  float: right;
}

footer .fright a {
  text-decoration: none;
  text-align: center;
  color: #37a;
}

.moviePoster {
  width: 150px;
  height: 230px;
  margin : 5px auto;
  cursor: pointer;
}

.movies-list > div:hover {
  transform: scale(1.1)
}

.movieName {
  color:#37a;
}

.movieScore {
  color:#e09015;
}

.movies-list > div {
  text-align: center;
  display: inline-block;
  width: 170px;
  /* background: red; */
  margin: 10px 8px;
  box-shadow: 1px 1px 1px rgb(175, 175, 175) ;
}
