* {
  margin: 0;
}
body {
  width: 100%;
}
header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 130px;
  top: 0;
  background-color: rgba(144, 167, 185, 0.2);
}
#logo {
  margin-left: 150px;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: rgb(92, 141, 179);
  cursor: pointer;
}
#searchBox {
  margin-left: 50px;
  background: white;
  width: 50%;
  text-align: left;
  height: 35px;
  padding: 10px;
  outline: none;
  border: none;
  border-bottom-style: none;
  border-radius: 5px;
  box-shadow: 0 1px 0 rgb(175, 175, 175) ;
  -webkit-appearance: none;
}
#movie {
  margin: 50px auto 0 auto;
  width: 80%;
} 
#movie > div{
  width: 99%;
  margin: 50px auto;
}
#movie > div > p {
  font-size: larger;
  color: green;
  margin: 20px 0;
}
footer{
  width: 80%;
  margin: 5px auto;
  margin-bottom: 0;
  color: #999;
  border-top: 1px dashed #ddd;
  padding: 6px 0;
  font-size: 13px;
}
footer .fright {
  float: right;
}

footer .fright a {
  text-decoration: none;
  text-align: center;
  color: #37a;
}

.moviePoster {
  width: 150px;
  height: 230px;
  margin : 5px auto;
}
#recommend > div {
  text-align: center;
  display: inline-block;
  width: 190px;
  margin: 5px;
}
.movies-list > div {
  text-align: center;
  display: inline-block;
  width: 190px;
  margin: 5px;
}
