#slideShow {
  height: 400px;
}
#slideShowImg {
  width: 100%;
  height: 100%;
  margin: auto;
}
#slideShow #slideShowButton {
  color: rgb(92, 141, 179);
  margin-top: -28px;
  text-align: center;
}
#movieSortTable {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgba(144, 167, 185, 0.2);
}

#movieSortTable li {
  float: left;
  padding: 8px 5px;
  color: black;
  cursor: pointer;
}

#movieSortTable li a {
  text-decoration: none;
  text-align: center;
  font-weight: lighter;
}
#moreMovies {
  text-align: right;
  margin-top: 10px;
  cursor: pointer;
  padding-right: 75px;
}
