#ad {
  height: 300px;
}
#movieSortTable {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#movieSortTable li {
  float: left;
  padding: 8px 5px;
  color: black;
}

#movieSortTable li a {
  text-decoration: none;
  text-align: center;
  font-weight: lighter;
}
