

#name {
  margin: 0 0 20px 100px;
}
#introduction {
  overflow: hidden;
  padding: 20px 0;
}
#poster {
  float: left;
  width: 150px; 
  margin-left: 100px;
}
#detail {
  float: left;
  margin: 0 100px;
}
#comments {
  border: 1px solid black;
}
.star {
  color: orange;
}

