.movieDetail {
  width: 65%;
}


#name {
  margin: 10px 0 40px 0;
}

#introduction {
  overflow: hidden;
  margin: 0 40px;
}
#poster {
  float: left;
  width: 180px;
}
#detail {
  float: left;
  margin: 0 150px;
  width: 230px;
  font-size: 16px;
  line-height: 30px;
}
#aboutRating {
  margin: 10px 0;
}

#aboutRating span {
  font-size: 30px;
  color: orange;
}
#aboutRating #rating{
  font-size: 35px;
  font-weight: lighter;
  color: black;

}
#aboutRating p span {
  color: grey;
}

#filmMaker {
  margin: 10px 0;
  width: 360px;
  float: left;
}

#filmMaker li {
  list-style: none;
}

#filmMaker span {
  font-size: smaller;
}

.person {
  float: left;
  width: 100px;
  margin: 5px 10px;
}

.person img{
  width: 100px;
}

.person p {
  margin: 0 25px;
}

#content {
  margin: 70px 40px;
  padding-right: 60px;
}

#content div {
  width: 1100px;
  font-size: 16px;
  font-family: Helvetica,Arial,sans-serif;
  line-height: 25px;
}

#comments {
  font-family: Helvetica,Arial,sans-serif;
  margin: 0 40px 70px 40px;
  width: 1100px;
}
#comments div p {
  margin: 8px 0;
  font-size: smaller;
  width: 1100px;
}

#recommend {
  margin: 0 40px;
}
.author {
  color: #37a;
}
.star {
  color: orange;
}

