
#name {
  margin: 0 0 20px 0;
}
#introduction {
  overflow: hidden;
}
#poster {
  float: left;
  width: 150px;
}
#detail {
  float: left;
  margin: 0 150px;
  width: 400px;
  font-size: 16px;
  line-height: 30px;
}
#aboutRating {
  margin: 10px 0;
}

#aboutRating span {
  font-size: 30px;
  color: orange;
}
#aboutRating #rating{
  font-size: 35px;
  font-weight: lighter;
  color: black;

}
#aboutRating p span {
  color: grey;
}

/*#filmMaker {
  display: inline-block;
}*/

#filmMaker li {
  list-style: none;
}

#filmMaker span {
  font-size: smaller;
}

.person {
  float: left;
  width: 50px;
}

.person img{
  width: 50px;
}

#content div {
  font-size: 16px;
  font-family: Helvetica,Arial,sans-serif;
  line-height: 25px;
}

#comments {
  font-family: Helvetica,Arial,sans-serif;
}
#comments div p {
  margin: 8px 0;
  font-size: smaller;
}
.author {
  color: #37a;
}
.star {
  color: orange;
}

