#name {
  margin: 0 0 20px 0;
}
#introduction {
  overflow: hidden;
  padding: 20px 0;
}
#poster {
  float: left;
  width: 150px; 
}
#detail {
  float: left;
  margin: 0 150px;
  font-size: 16px;
}
#comments {
  font-size: Helvetica,Arial,sans-serif;
}
#comments div p {
  margin: 8px 0;
  font-size: smaller;
}
.author {
  color: skyblue;
}
.star {
  color: orange;
}

